
body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
   
    background-image:linear-gradient(25deg,rgb(185, 60, 244) 30%,rgb(255, 255, 255) 30%);
  }
  .box {
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .form1{
    display: flex;
    width: 480px;
    margin: 0 auto;
    padding: 5px;
    background-color: #fff;
    border-radius: 20px;
   
  }

  input[type="text"] {
    width: 85%;
    height: 60px;
    padding: 10px;
    font-size: large;
    background-color:white;
    color: gray;
    border: 0.5px solid rgb(228, 226, 226);
    
  }
   

  .btn {
    background-color: rgb(185, 60, 244);
    color: white;
    border: none;
    height: 60px;
    width: 65px;
    border-radius: 50%;

    cursor: pointer;
    font-size: 26px;
  }
  
  
  .btn:hover {
    border: 1px solid #FFFFFF;
  }


  .form2{
    width: 500px;
    margin: 0 auto;
    /* padding: 5px; */
    background-color: #fff;
    border-radius: 20px;
  }



  .heading{
    max-width: 500px;
    margin: 20px auto;
    
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  
  h1 {
    color:  black;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  form {
    display: flex;
    align-items: center;
    /* width: 100%; */
  }
  
 
 
  

  .todo {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    margin-left: 4%;
    height: 25px;
    display: flex;
    font-size: large;
    align-items: center;
    /* text-align: center; */
    border-radius: 5px;
    background-color: white;
    width: 400px;
    color: black;
  }
  

  .todo:hover {
    background-color:rgb(212, 208, 208);
  }
  

  .items input[type="checkbox"]:checked + .todo {
    text-decoration: line-through;
    color:#FFFFFF
    
  }

  .items{
    display: flex;
    align-items: center;
    justify-content:center ;
    /* height: 60px; */
    width: 100%;
    align-items: center;
  } 

  