<DOCTYPE html>
<html lang="en">
<head>
    <title>TODO</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="heading">
        <h1>Todo List</h1>
    </div>
    <div class="box">
        <form action="/" method ="POST">
            <input type="text" name="ele1" autocomplete="off" placeholder="Enter the task">
            <button type="submit" class="btn"> +</button>
        </form>

      <!-- <% for(var i=0 ; i<ejes.length ;i++){ %>
       <div class="items">
        <input type="checkbox" name="" id="">
        <p class="todo"><%=ejes[i].name%></p>
       </div>
        <% }%>  -->

        <% ejes.forEach(function(items){ %>
            <form action="/delete" method="post">
                <div class="items">
                    <input type="checkbox" name="checkbox1" value="<%=items._id%>" onchange="this.form.submit()">
                    <p class="todo"><%=items.name%></p>
                </div>
            </form>
        <% });%>
    </div>
</body>
</html>